*{
    font-family: 'Gayathri', sans-serif;
    font-size: 62.5%; /* for better calculations when using REM and EM */
}
body{
    background-color: rgb(250, 121, 34);
    background-image: linear-gradient(147deg, #FFE53B 0%, #ff8a00 33%, #ff2d28 100%);

}
h1, h2, h3{
    color: #fff;
}
h1{
    font-size: 2rem;
}
.jumbotron{
    border-radius:0;
    margin: 2rem;
}

.profile-pic{
    min-width: 20rem;
    height: auto;
    border: 5px solid #fff;
    border-radius: 11rem;
    margin: auto;
}
.tab>h1{
   color: #fff; 
}
.tab{
    margin: 2rem;
    padding: 3rem;
    background-color:rgb(39, 39, 39);
}
/****** Padding, margin and alignment ******/
.p0{padding: 0}
.p1{padding: 1rem}
.p2{padding: 2rem}

.m0{margin:0}
.m1{margin: 1rem}
.m2{margin: 2rem}

.tac{text-align: center}
.tar{text-align:right}
.tal{text-align:left}

.flex{display:flex}

/****** navigation ******/
.navbar-nav{
    font-size: 1.7rem;
}
.navbar-nav>li.active{
    background-color:#c75924;
}
.navbar-nav>.active>a{
    background-color:#c75924;
    font-size: 1.7rem;
}
.navbar-nav>a{
    font-size: 1.7rem;
}

/****** background colours ******/
.black{
    background-color: #000;
}