*{
    font-family: 'Gayathri', sans-serif;
    font-size: 62.5%; /* for better calculations when using REM and EM */
}
h1, h2, h3{
    color: #fff;
}
h1{
    font-size: 2rem;
}
.profile-pic{
    min-width: 20rem;
    height:auto;
    border: 3px solid #fff;
    border-radius: 1rem;
    margin:auto;
}
/****** Padding, margin and alignment ******/
p1{padding: 1rem}
p2{padding: 2rem}

m1{margin: 1rem}
m2{margin: 2rem}

tac{text-align: center}
tar{text-align:right}
tal{text-align:left}

/****** navigation ******/
.navbar-nav{
    font-size: 1.7rem;
}

/****** background colours ******/
.black{
    background-color: #000;
}