*{
    font-family: 'Gayathri', sans-serif;
    font-size: 105%; /* for better calculations when using REM and EM */
}
body{
    background-color:#383838;
}
h1, h2, h3{
    color: #fff;
}
h1{
    font-size: 2.5rem;
}
.education > h1, .work-exp > h1{
    background-color:#f3005c;
    padding:1.5rem;
    border-radius: 1rem;
}
li{
    color:#fff;
}
p{
    font-size: 2rem;
    color: #fff;
}
.title-row{
    height:100%;
    display:flex;
}

.display-lg{
    display: grid;
}
.display-md > h1 {
    background-color:#c75925;
    padding:2rem;
    width:45%;
    margin:auto;
}

.jumbo-image{
    background: url(../images/natalie-grainger-Mw1efRU1qcU-unsplash.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.title{
    background-color: #383838;
    color: #fff;
    text-align:center;
    height: 100%;
    align-items: center;
}
.title > h1{
    font-size: 2.5rem;
}
.profile-pic{
    text-align:center;
}
.profile-pic > img{
    max-width: 11rem;
    border-radius: 11rem;
    border: 3px solid #fff;
}
.tab>h1{
   color: #fff; 
}
.tab{
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(39, 39, 39);
    height: 100%;
    align-items: center;
    width: 100%;
}
.hr-pink{
    width:90%;
    border:solid 0.1rem #f3005c;
}
/****** lists ******/
.list-style-none{list-style-type: none;}
/****** Containers ******/
.jumbotron{
    border-radius:0;
    padding: 0;
    margin: 0;
    background-color:#383838;
    display:flex;
}
.side-container{
    background-color:#c75924;
    padding:1rem;
    margin:1rem;
    border-radius: 1rem;
}
/****** Padding, margin and alignment ******/
.p0{padding: 0}
.p1{padding: 1rem}
.p2{padding: 2rem}

.pl3{padding-left: 3rem;}

.m0{margin:0}
.m1{margin: 1rem}
.m2{margin: 2rem}
.mt1{margin-top:1rem}
.mb1{margin-bottom:1rem;}
.mb2{margin-bottom:2rem;}

.tac{text-align: center}
.tar{text-align:right}
.tal{text-align:left}

.flex{display:flex}
.items-center{align-items: center}
.items-bl{align-items: baseline}
.items-flex-end{align-items: flex-end}

/****** sizing ******/
.max-width-100{max-width:100%}

.hauto{height:auto}
.h100{height:100%}

.w100{width:100%}

/****** navigation ******/
#nav{
    width:100%;
}
.navbar-nav{
    font-size: 1.7rem;
    align-items:flex-end;
    display:flex;
}
.navbar-inverse{
    background-color:#383838;
    border:0;
    border-bottom: 4px solid #ff6c00;

}
.navbar-inverse .navbar-nav>.active>a{
    background-color:#c75924;
    font-size: 2rem;
}
.active>a {
    background-color:#c75924;
    font-size: 2rem;
}
li>a{
    font-size:1.6rem;
}
.navbar-nav>li.active{
    background-color:#c75924;
}
.navbar-nav>.active>a{
    background-color:#c75924;
    font-size: 1.7rem;
}
.navbar-nav>a{
    font-size: 1.7rem;
}
.nav-row{
    display:flex;
}
.nav-col{
    display:flex;
    align-items: flex-end;
}
.navbar>.container-fluid{
    display:flex;
    align-items:flex-end;
}
/****** Modal + panels ******/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #232323;
    margin: auto;
    padding: 3rem;
    border: 1px solid #888;
    width: 80%;
  }
  .modal-title {
    margin: 0;
    line-height: 1.42857143;
    width: 100%;
    border-bottom: 2px solid #f05106;
  }
  .modal-body{
    overflow: scroll;
    max-height: 65rem;
  }
  
  /* The Close Button */
  .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: .7;

  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .panel{
      background-color: #c75925;
      margin: 1rem;
      color: #fff;
  }
  .panel > .title {
      background-color:#c75925;
  }
  .edu-panel{
      width:47%;
      display:inline-flex;
  }
/****** background colours ******/
.black{
    background-color: #000;
}

/****** Font ******/
.f-pink{
    color:#f3005c
}
.fsz2-2{font-size:2.2rem;}
.fsz1-7{font-size:1.7rem}