<nav class="navbar navbar-inverse m0">
        <div class="container-fluid flex items-flex-end">
          <div class="navbar-header">
            <a class="navbar-brand hauto" href="#"><p class="f-pink fsz2-2">Rebekah Davies</p> <p class="fsz1-7 m0">Software Engineer</p></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Experience</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Projects</a></li>
          </ul>
        </div>
      </nav>